:root {
  /* COLOR PALETTE */
  --da-color-primary: #333333;
  --da-color-secondary: #51d1f6;
  --da-color-highlight: #51d1f6;
  --da-color-background: #ffffff;

  /* FONT SIZE */
  --da-typography-h1: 2.25rem;
  --da-typography-h2: 1.5rem;
  --da-typography-h3: 1.625rem;
  --da-typography-p: 0.8125rem;
  --da-typography-typeface: Poppins, sans-serif;

  /* LEADING */
  --da-typography-h1-leading: 2rem;
  --da-typography-h2-leading: 1.26;
  --da-typography-p-leading: 1.5;

  /* MARGIN */
  --da-typography-margin-heading: 2rem;

  /* PADDING */
  --da-button-padding-top: 0.7rem;
  --da-button-padding-left: 1rem;

  /* GAP */
  --da-gap-header: 1rem;

  /* SIZE */
  --da-navbar-height: 1rem;

  /* BORDER RADIUS */
  --da-radius-button: 0.5rem;
  --da-radius-card: 0.5rem;

  color-scheme: light dark;
  font-family: var(--da-typography-typeface);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 1.5rem;
  color: var(--da-color-primary);
  background-color: var(--da-color-background);
}

h1 {
  font-size: var(--da-typography-h1);
  font-weight: 700;
  line-height: var(--da-typography-h1-leading);
}

h2 {
  font-size: var(--da-typography-h2);
  line-height: var(--da-typography-h2-leading);
  font-weight: 600;
}

.highlighted-text {
  color: var(--da-color-highlight);
}

.darkmode {
  --da-color-background: #141414;
  --da-color-primary: #f0efef;
  --da-color-highlight: #ffb200;
}

.page__title {
  font-size: 2.25rem;
  padding: 2rem 0;
}
