:root {
  --da-hero-photo-size: 240px;
  /* BUTTONS */
  --da-button-padding-top: 0.7rem;
  --da-button-padding-left: 1rem;
  --da-button-fontsize: 0.875rem;
  --da-button-border-radius: 1rem;
}

.hero {
  height: 92svh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
}

.hero__info {
  display: flex;
  flex-direction: column;
  order: 2;
  gap: 1rem;
}

.hero__photo {
  width: var(--da-hero-photo-size);
  height: var(--da-hero-photo-size);
  border-radius: var(--da-hero-photo-size);
  object-fit: cover;
  order: 1;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.text-blinking {
  animation: blinker 0.5s alternate infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.cta-button {
  display: inline-block;
  padding: var(--da-button-padding-top) var(--da-button-padding-left);
  cursor: pointer;
  border-radius: var(--da-button-border-radius);
  font-size: var(--da-button-fontsize);
  font-weight: 600;
  gap: 10px;
  letter-spacing: 0.1rem;
  text-align: center;

  border: 3px solid transparent;
  background-color: var(--da-color-highlight);
  color: #333333;
}

.button-social {
  background-color: var(--da-color-primary);
  color: var(--da-color-background);
  padding: var(--da-button-padding-top) var(--da-button-padding-left);
  border-radius: var(--da-button-border-radius);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.social-links-wrapper {
  display: flex;
  gap: 1rem;
}

.social-links__logo {
  width: 1.5rem;
  height: 1.5rem;
  stroke: none;
  fill: var(--da-color-background);
  stroke-width: 1px;
}

@media screen and (min-width: 47rem) {
  :root {
    /* CTA BUTTON */
    --da-button-padding-top: 1rem;
    --da-button-padding-left: 1.75rem;
    --da-button-fontsize: 1.1rem;
  }

  .hero {
    flex-direction: row-reverse;
    align-items: center;
    gap: 1rem;
  }

  .hero__info {
    gap: 1.5rem;
  }

  .location-wrapper {
    font-size: 1.3rem;
  }
}
