:root {
  --da-navbar-backdrop-blur: blur(8px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: var(--da-navbar-backdrop-blur);
  padding: 1.5rem 0;
  height: 3vh;
  z-index: 40;
  width: 100%;
}

.mobile-menu__icon {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: #6a6a6a;
  stroke-width: 2px;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.mobile-menu__nav {
  display: none;
}

.showmobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--da-color-background-light);
  height: 93svh;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 5vh;
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 1;
}

.mobile-menu__links {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
}

.mobile-menu__item {
  display: flex;
  gap: 1rem;
}

.dark-light-button {
  cursor: pointer;
  background-color: transparent;
  font-size: 100%;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: button;
  appearance: button;
}

.dark-light-button__logo {
  width: 20px;
  height: 20px;
}
