.experience-grid {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  gap: 2.25rem;
  width: 100%;
  border-left: 1px dashed var(--da-color-primary);
}

@media screen and (min-width: 47rem) {
  .experience-grid {
    gap: 3.5rem;
  }
}
